body { 
    margin: 0px; 
    padding: 0px; 
    border: 0px;
    font-family: Verdana, sans-serif; 
    font-size: 13pt;
	line-height: 18pt;
    background-color: #CCD0D4;
    color: #201010;
    background-color: #fffdfa;
}

h1, h2, h3 {
    font-family: Verdana, sans-serif;
	position: relative;
	left: -8px;
	color: #884422;
}

h1 {
    font-size: 300%;
}

strong {
    font-family: Verdana, sans-serif;
    font-size: 14pt;
	color: #884422;
}

a {
	color: #884422;
}

#title {
    width: 700px;
	margin: 20 auto;
}

#subtitle {
    font-size: 60%;
	position: absolute;
	right: 0px;
}

#topButtons {
	width: 750px;
    margin: 20 auto;
    text-align:center;
}

#mainPane {
    width: 700px;
	height: 125%;
	margin: 20 auto;
}

#spacer {
	width: 700px;
	height: 200px;
	margin: 0 auto;
}

.topButton {
    display: inline-block;
    width: 24%;
    margin: 10px 0px;
    padding-bottom: 5px;
    padding-top: 5px;
	border-bottom: 4px solid #882200;
    border-radius: 3px;
	background-color: #AA4422;
	color: #EFE9E5;
	text-decoration: none;
	position: relative;
	top: 0px;
}

.topButton:hover {
	border-bottom: 2px solid #882200;
	top: 2px;
}

code {
	display: inline;
    margin: 0px 3px;
    padding: 2px 4px;
    background-color: #FFFFFF;
	border-top: 2px solid #E0E5E8;
    border-radius: 5px;
	font-size: 110%;
    font-family: "Inconsolata";
}

.code-block {
    margin: 0px 6px;
    padding: 6px 10px;
    background-color: #FFFFFF;
	border-top: 4px solid #E0E5E8;
    border-radius: 14px;
	font-size: 110%;
    font-family: 'Courier New', Courier, monospace;
	line-height: 15pt;
}